.containerDivForSettingsElements{
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 10px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(109, 110, 108);
  max-width: 80px;
  z-index: 1000;
}