.cryptoTopPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 8px;
}

.coinAbout {
  color: var(--text-2);
  line-height: 1.6;
}