.BoxLeftMenuDiv {
  margin: 5px;
  padding-bottom: 4px;
  background-color: rgb(56, 57, 58);
  border-radius: 5px;
}

.BoxLeftMenuDiv h2 {
  margin: 0px;
  padding-bottom: 6px;
  font-weight: normal;
  background-color: rgba(26, 41, 90, 0.349);
  border-radius: 5px;
}


.BoxLeftMenuDiv p {
  margin: 2px;
  padding: 0px;
}