#root {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;  /* Prevents margin collapsing due to lack of space between bodyWraper and parent component*/
}

.bodyWrapper {
  overflow: hidden;
}

.contentDiv {
  margin: 50px 0 0 200px;
  padding: 0px;
}
