.bodyWrapper {
  display: flow-root
}

.contentDiv {
  margin-top: var(--topbar-h);
  margin-left: var(--sidebar-w);
  padding: 24px 40px 64px;
  min-height: calc(100vh - var(--topbar-h));
  min-width: 600px;
}

.contentDiv > * {
  max-width: var(--content-max);
  margin-left: auto;
  margin-right: auto;
}
