.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  margin: 0px;
  padding: 0px;
  background: gray;
  border-radius: 2px;
}

.btn-secondary:active {
  background: #555;
}
