.loginPageWrapper {
  width: 400px;
  margin: 0 auto;
}

.loginPageWrapper input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  margin: 4px 0;
}

.forgotPasswordButton {
  padding: 2px 4px 2px;
  margin: 0 3px 0;
  display: block;
  width: fit-content;
  margin-left: auto;
}

.logInButton {
  padding: 4px 8px;
  font-size: 20px;
}
