.loginPageWrapper {
  width: 400px;
  margin: 0 auto;
}

.loginPageWrapper input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  margin: 4px 0;
}

.forgotPasswordButton {
  background: grey;
  padding: 2px 4px 2px;
  margin: 0 3px 0;
  border-radius: 2px;
}

.forgotPasswordButton:active {
  background: #555;
}